#banner {
    background-image: url("../assets/banner.jpg");
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    position: fixed;
    top: 0;
    z-index: -1;
    width: 100vw;
}

#banner::after {
    content: ""; 
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(120deg, #ffffffc0 50%, #739b9d30 150%);
    z-index: -2;
    backdrop-filter: blur(2px);
    pointer-events: none;
}

#banner .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#banner .banner-content {
    text-align: center;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#banner img {
    width: 100%;
}

#banner h1 {
    font-size: 80px;
    width: 100%;
    padding-bottom: 32px;
    line-height: 96px;
}

#banner .banner-highlight {
    font-size: 32px;
    color: #2d4e4c;
}

#banner p {
    font-size: 24px;
    width: 90%;
    padding-bottom: 64px;
    padding-top: 24px;
}

#banner .btn {
    font-size: 24px;
    padding: 16px 40px;
}

#about {
    margin-top: 100vh;
    background: rgb(255,255,255);
}

#about .container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 64px 0;
}

#about .about-image-container {
    max-width: 50vw;
    width: 80%;
    padding-right: 80px;
}

#about .about-content {
    width: 100%;
}

#about img {
    width: 100%;
}

#about h2 {
    font-size: 32px;
    padding-bottom: 16px;
}

#about p {
    font-size: 20px;
    width: 100%;
    margin-bottom: 32px;
}

#about ul {
    list-style: none;
    width: 80%;
}

#about li {
    font-size: 20px;
    font-weight: 600;
    padding: 20px 32px;
    box-shadow: 12px 7px 90px 0 rgba(110,123,131,.3);
    margin-bottom: 10px;
}

#quote {
    background: rgb(245, 245, 245);
}
#quote .container {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 64px 0;
}

#quote blockquote {
    width: 80%;
    margin-bottom: 16px;
    font-size: 24px;
}

#quote span {
    font-size: 24px;
    font-weight: 300;
}

#services {
    background: rgb(255, 255, 255);
}

#services .container {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 64px 0;
}

#services .service-block {
    width: 100%;
    padding: 32px 32px;
}

#students h2 {
    margin-bottom: 64px;
}

#students {
    background: rgb(255, 255, 255);
}

#students .container {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 64px 0;
    text-align: left;
}

#students .testimonials-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#students .student-block {
    width: 40%;
    padding: 32px 32px;
    box-shadow: 12px 7px 90px 0 rgba(110,123,131,.3);
}

.student-block p {
    font-size: 14px;
    margin-bottom: 32px;
}

.student-block h3 {
    font-size: 16px;
    font-weight: 500;
}

.student-block span {
    font-size: 12px;
    font-weight: 300;
    display: block;
    margin: -2px 0;
}

#students img {
    border-radius: 50%;
    width: 72px;
    margin-right: 16px;
    border: 1px;
    border-style: solid;
    border-color: rgb(150, 150, 150);
}

.student-profile {
    display: flex;
    align-items: flex-start;
}

#contact {
    background: linear-gradient(180deg,#fff 0%,rgb(245, 245, 245) 100%);
}

#contact .container {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 64px 0;
}

#contact .contacts {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

#contact .contact-block {
    padding: 32px 32px;
    width: 25vw;
}

#contact h3 {
    font-size: 16px;
}